h2 {
	font-size: 20px;
}

.half {

	&,
	& .container>.row {
		height: 50vh;
	}



	.contents,
	.bg {
		width: 100%;

		.login-password {
			position: relative;

		}


	}

	.bg {
		background-size    : cover;
		background-position: center;


	}


	.btn {
		height       : 54px;
		padding-left : 30px;
		padding-right: 30px;

	}

	.color-title {
		font-weight: 500;
	}

	span.icon-show {
		position: absolute;
		top     : 20px;
		right   : 12px;
	}
}