a {
	transition: .3s all ease;

	&:hover {
		text-decoration: none !important;
	}
}

.content {
	padding: 7rem 0;
}

h2 {
	font-size: 20px;
}

.half {

	&,
	& .container>.row {
		height: 100vh;
	}



	.contents,
	.bg {
		width: 100%;


		.form-group {
			overflow     : hidden;
			margin-bottom: 0;
			border       : 1px solid #efefef;
			border-bottom: none;
			position     : relative;
			margin       : 50px 0px;



		}

		.form-control {
			border       : none;
			padding      : 0;
			font-size    : 20px;
			border-radius: 0;
			position     : absolute;
			top          : 15px;
			left         : 20px;

			&:active,
			&:focus {
				outline   : none;
				box-shadow: none;
			}

			&::placeholder {
				color  : #1c87c9;
				opacity: 1;
			}



		}

		.last-child {
			position     : relative;
			border-bottom: 1px solid #efefef;
		}
	}

	.bg {
		background-size    : cover;
		background-position: center;
	}

	a {
		color          : #888;
		text-decoration: underline;
	}

	.btn {
		height       : 54px;
		padding-left : 30px;
		padding-right: 30px;
	}

	.color-title {
		font-weight: 500;
	}


}