.newsletter {
    width     : 100%;
    background: #f2f2f2;
    margin-top: 40px;
}

.newsletter_text {
    height: 120px;
}

.newsletter_text h4 {
    margin-bottom: 0px;
    line-height  : 24px;
}

.newsletter_text p {
    margin-bottom: 0px;
    line-height  : 1.7;
    color        : #51545f;
    text-align   : left;
}

.newsletter_form {
    height: 120px;
}

#newsletter_email {
    width       : 300px;
    height      : 46px;
    background  : #FFFFFF;
    border      : none;
    padding-left: 20px;
}

#newsletter_email:focus {
    border    : solid 1px #7f7f7f !important;
    box-shadow: none !important;
}

:focus {
    outline: none !important;
}

#newsletter_email::-webkit-input-placeholder {
    font-size  : 14px !important;
    font-weight: 400;
    color      : #b9b4c7 !important;
}

#newsletter_email:-moz-placeholder

/* older Firefox*/
    {
    font-size  : 14px !important;
    font-weight: 400;
    color      : #b9b4c7 !important;
}

#newsletter_email::-moz-placeholder

/* Firefox 19+ */
    {
    font-size  : 14px !important;
    font-weight: 400;
    color      : #b9b4c7 !important;
}

#newsletter_email:-ms-input-placeholder {
    font-size  : 14px !important;
    font-weight: 400;
    color      : #b9b4c7 !important;
}

#newsletter_email::input-placeholder {
    font-size  : 14px !important;
    font-weight: 400;
    color      : #b9b4c7 !important;
}

.newsletter_submit_btn {
    width         : 160px;
    height        : 46px;
    border        : none;
    background    : #fe4c50;
    color         : #FFFFFF;
    font-size     : 14px;
    font-weight   : 500;
    text-transform: uppercase;
    cursor        : pointer;
}

.newsletter_submit_btn:hover {
    background: #FE7C7F;
}