.title-bestSeller {
    padding-bottom: 20px;
    font-size     : 50px;
    font-weight   : 600;
}

.section-product {
    height: 330px;
    cursor: pointer;



    .section-content {
        padding-bottom: 20px;


        .img-customer {
            height             : 340px;
            transition-duration: 0.05s;

            .img-product {
                background: no-repeat no-repeat center;
                height    : 200px;



            }

            &:hover {
                visibility: visible;
                box-shadow: 0 25px 29px rgba(63, 78, 100, 0.15);
                border    : solid 2px rgba(235, 235, 235, 1);
                opacity   : 1;

            }




            img {
                border: none;
                height: 221px;
                width : 100%;
            }

            // over text
            .title-product {

                font-size  : 20px;
                font-weight: 500;
                padding-top: 20px;

                text-align: center;
                color     : #1e1e27;
                word-wrap : break-word;

                &:hover {
                    color: #b5aec4;

                }
            }

            .title-price {
                font-size  : 20px;
                font-weight: 600;
                padding-top: 10px;
                color      : #fe4c50;
                text-align : center;
            }

        }
    }
}

button.slick-arrow.slick-next,
button.slick-arrow.slick-prev {
    background-color: #d3d3d6;

    width              : 30px;
    height             : 100px;
    transition-duration: 0.5s;
}