.close {
    background-color: #0071ba !important;
    width           : 50px;
    border          : none;
    color           : white;
    font-size       : 20px;
}

.modal-title {
    color: white;
}