* {
	margin : 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size  : 14px;
	line-height: 23px;
	font-weight: 400;
	background : #FFFFFF;
	color      : #1e1e27;
}

div {
	display           : block;
	position          : relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing   : border-box;
	box-sizing        : border-box;
}

ul {
	list-style   : none;
	margin-bottom: 0px;
}

p {
	font-family           : 'Poppins', sans-serif;
	font-size             : 14px;
	line-height           : 1.7;
	font-weight           : 500;
	color                 : #51545f;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow   : rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow           : rgba(0, 0, 0, .01) 0 0 1px;
}

p a {
	display           : inline;
	position          : relative;
	color             : inherit;
	border-bottom     : solid 2px #fde0db;
	-webkit-transition: all 200ms ease;
	-moz-transition   : all 200ms ease;
	-ms-transition    : all 200ms ease;
	-o-transition     : all 200ms ease;
	transition        : all 200ms ease;
}

a,
a:hover,
a:visited,
a:active,
a:link {
	text-decoration       : none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow   : rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow           : rgba(0, 0, 0, .01) 0 0 1px;
}

p a:active {
	position: relative;
	color   : #FF6347;
}

p a:hover {
	color     : #FF6347;
	background: #fde0db;
}

p a:hover::after {
	opacity: 0.2;
}

::selection {
	background: #fde0db;
	color     : #FF6347;
}

p::selection {
	background: #fde0db;
}

x .form-control {
	color: #db5246;
}

section {
	display   : block;
	position  : relative;
	box-sizing: border-box;
}

.clear {
	clear: both;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.super_container {
	width   : 100%;
	overflow: hidden;
}

.red_button {
	display           : -webkit-inline-box;
	display           : -moz-inline-box;
	display           : -ms-inline-flexbox;
	display           : -webkit-inline-flex;
	display           : inline-flex;
	flex-direction    : column;
	justify-content   : center;
	align-items       : center;
	width             : auto;
	height            : 40px;
	background        : #fe4c50;
	border-radius     : 3px;
	-webkit-transition: all 0.3s ease;
	-moz-transition   : all 0.3s ease;
	-ms-transition    : all 0.3s ease;
	-o-transition     : all 0.3s ease;
	transition        : all 0.3s ease;
}

.red_button:hover {
	background: #FE7C7F !important;
}

.red_button a {
	display       : block;
	color         : #FFFFFF;
	text-transform: uppercase;
	font-size     : 12px;
	font-weight   : 500;
	text-align    : center;
	line-height   : 40px;
	width         : 100%;
}

/*********************************
5. Single Product Section
*********************************/

.single_product_image {
	width : 100%;
	height: 527px;
}

.single_product_image_background {
	position           : absolute;
	top                : 0;
	left               : 0;
	width              : 100%;
	height             : 100%;
	background-repeat  : no-repeat;
	background-size    : cover;
	background-position: center center;
}


.product_details {
	width: 100%;
}

.product_details_title {
	font-weight: 500px;
	line-height: 30px;
}

.product_details_title p {
	margin-top: 12px;
}

.free_delivery {
	background: #f5f5f5;
	margin-top: 53px;
}

.free_delivery i {
	display: inline-block;
}

.free_delivery span:last-child {
	display       : inline-block;
	height        : 40px;
	line-height   : 40px;
	text-transform: uppercase;
}

.free_delivery span:first-child {
	display          : inline-block;
	margin-right     : 19px;
	font-size        : 16px;
	-webkit-transform: translateY(-1px);
	-moz-transform   : translateY(-1px);
	-ms-transform    : translateY(-1px);
	-o-transform     : translateY(-1px);
	transform        : translateY(-1px);
}



.product_price {
	display    : inline-block;
	font-size  : 24px;
	color      : #fe4c50;
	font-weight: 500;
	line-height: 30px;
	margin-top : 2px;
}


.product_color {
	margin-top: 27px;
}

.product_color ul {
	display    : inline-block;
	margin-left: 26px;
}

.product_color ul li {
	display      : inline-block;
	width        : 12px;
	height       : 12px;
	border-radius: 50%;
	margin-right : 29px;
	cursor       : pointer;
}

.quantity {
	width     : 100%;
	height    : 40px;
	margin-top: 23px;
}

.quantity_selector {
	display        : -webkit-box;
	display        : -moz-box;
	display        : -ms-flexbox;
	display        : -webkit-flex;
	display        : flex;
	flex-direction : row;
	justify-content: space-between;
	align-items    : center;
	width          : 132px;
	height         : 100%;
	border         : solid 1px #e5e5e5;
	margin-left    : 29px;
}

.quantity_selector span {
	font-weight: 500;
	color      : #232530;
}

.plus,
.minus {
	padding-left : 14px;
	padding-right: 14px;
	cursor       : pointer;
}

.plus:hover,
.minus:hover {
	color: #b5aec4;
}

.add_to_cart_button {
	width      : 160px;
	margin-left: 19px;
	font-size  : 12px !important;
}

.product_prices {
	color        : red;
	font-size    : 20px;
	padding-top  : 10px;
	font-weight  : 550;
	margin-top   : 20px;
	margin-bottom: 20px;

}

.product_background {
	background     : no-repeat no-repeat;
	width          : 100%;
	border         : 1px solid red;
	height         : 100%;
	background-size: cover;
}