@import "../../styles/common.scss";

.header-container {
    z-index         : 99;
    display         : flex;
    justify-content : space-between;
    background-color: $colormain;
    color           : $common-text-color;
    height          : 40px;
    position        : relative;

    .change-language {
        position   : absolute;
        right      : 200px;
        line-height: 40px;

        .en {
            padding-right: 5px;

            &.active {
                color: orange;
            }

        }

        .vi {

            &.active {
                color: orange;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    .welcome {
        position   : absolute;
        right      : 70px;
        line-height: 40px;


    }

    .btn-logout {
        color      : $common-text-color;
        line-height: 40px;
        height     : 40px;
        padding    : 0 10px;

        &:hover {
            background-color: darken($colormain, 5);
        }

        i {
            font-size: $base-size + 1px;
        }
    }
}