.banner {
    width     : 100%;
    margin-top: 30px;
}

.banner_item {
    display            : -webkit-box;
    display            : -moz-box;
    display            : -ms-flexbox;
    display            : -webkit-flex;
    display            : flex;
    flex-direction     : column;
    justify-content    : center;
    align-items        : center;
    height             : 265px;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center center;
}

.banner_category {
    height       : 50px;
    background   : #FFFFFF;
    min-width    : 180px;
    padding-left : 25px;
    padding-right: 25px;
}

.banner_category a {
    display           : block;
    color             : #1e1e27;
    text-transform    : uppercase;
    font-size         : 22px;
    font-weight       : 600;
    text-align        : center;
    line-height       : 50px;
    width             : 100%;
    -webkit-transition: color 0.3s ease;
    -moz-transition   : color 0.3s ease;
    -ms-transition    : color 0.3s ease;
    -o-transition     : color 0.3s ease;
    transition        : color 0.3s ease;
}

.banner_category a:hover {
    color: #b5aec4;
}